<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :event_categories %>
  <% Event::CATEGORIES.each do |cat| %>
  	<div>
  		<%= check_box_tag 'events_widget[event_categories][]', cat, widget.event_categories.include?(cat) %> <%= cat %>
  	</div>
  <% end %>
</div>
<div class="field">
  <%= f.label :number_to_display %>
  <%= f.select :number_to_display, options_for_select([1,2,3,4,5,6,7,8,9,10], widget.number_to_display) %>
</div>
<div class="field">
  <%= f.label :church %>
	<%= f.select :church_id, church_options_for_select(widget) %>
</div>