<div id="article" class="no_background_image">
	<div class="container <%= request[:controller] %>_<%= request[:action] %>_content">

		<div class="row" id="row0">
			<div class="span8 column" id="column0">
				<% @notices.each do |notice| %>
					
					<div class="article">
						<div class="article_title">
							<%= date_icon(notice.date).html_safe %>
							<h2><%= link_to notice.title, notice_path(@church, notice) %></h2>							
						</div>
					</div>
					
				<% end %>
			</div>
			<div class="span4 column" id="column1">
				<%= render 'notices/notices_archive', :group => @group %>
			</div>
		</div>
		
	</div>
</div>