<div id="people">
	<div id="background_image">
		<%= region(BACKGROUND_IMAGE) %>
	</div>
	<div id="main_content">
		<div class="container">
			<div id="intro">
				<%= region('intro') %>
			</div>
			
			<%= repeating_regions do |regions| %>
			
				<% regions.each do |region_name| %>
					<%= region({:name => region_name, :repeating => true}) do |region| %>
						<div class="region clearfix">
							<div class="region_images">
								<%= region.images %>
							</div>
							<div class="region_text">
								<%= region.text %>
							</div>
						</div>
					<% end %>
				<% end %>
				
			<% end %>
		</div>
	</div>
</div>