<div class="top_right_controls">
	<%= link_to 'New Event', main_app.new_cms_event_path, :class => 'btn btn-info' %>
</div>

<div class="page_header">
	<h1>Events</h1>
</div>

<section class="page_content">
	<% @events.each do |event| %>
		<div class="index_item page_index_item">
			<div class="controls">
				<%= link_to 'Delete', main_app.cms_event_path(event), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>				
				<%= link_to 'Edit', main_app.edit_cms_event_path(event), :class => 'btn btn-warning' %>
			</div>
			<%= link_to event.title, main_app.edit_cms_event_path(event) %>
			<div class='event_details'>
				<%= event.category %> | <%= l event.start_date, :format => :long %>
			</div>
		</div>
	<% end %>
</section>