<div id="article" class="no_background_image">
	<div class="container <%= request[:controller] %>_<%= request[:action] %>_content">

			<div class="row" id="row0">
				<div class="span8 column" id="column0">
					<div class="article">
						<div class="article_title">
							<%= date_icon(@sermon.date).html_safe %>							
							<h2><%= link_to @sermon.title, @sermon %></h2>
						</div>
						<div class="article_content">
							<%= @sermon.content.html_safe %>
						</div>
					</div>
				</div>

				<div class="span4 column" id="column1">
					<%#= render 'articles/articles_archive', :category => @article.category, :group => @group %>
					<%= render 'sermons/sermons_archive', :group => @group %>
				</div>

			</div>
		

	</div>
</div>