<div id="faqs">
	<div id="background_image">
		<%= region(BACKGROUND_IMAGE) %>
	</div>
	<div id="main_content" class="container">
		
		<div id="intro">
			<%= region('intro') %>
		</div>
		
		<%= repeating_regions do |regions| %>
		
			<% regions.each do |region_name| %>
				<%= region(region_name) do |region| %>
					<div class="region">
						<div class="region_images">
							<%= region.images %>
						</div>
						<div class="region_text">
							<%= region.text %>
						</div>
					</div>
				<% end %>
			<% end %>
			
		<% end %>
		
	</div>
</div>