<!DOCTYPE html>
<html>
<head>
  <title>Sanderstead Parish Admin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body id="admin">
		
	<div id="envelope">
		<div id="background">
			<div id="background_header">
			</div>
			<div id="background_nav">
			</div>
		</div>	
		<!-- Flash message goes here -->
		<% if !flash.blank? %>
	    <div id='flash'>
	      <ul id='flash_list'>
	        <% flash.each do |key, value| %>
	          <li class="flash_item <%= key %>"><%= value %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
		<%= render 'layouts/cms/top_nav' %>			
	
    <div id="<%= current_controller %>_<%= request[:action] %>_content" class="content">		
			<%= yield %>
    </div>
	</div>
</body>
</html>
