<!DOCTYPE html>
<html>
<head>
  <title>SandersteadParish</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="sanderstead_parish">
	<div id='wrapper'>
		<div id='header'>
			<div id="logo">
				<h1><%= logo %></h1>
				<div id="sub_logo">
					<%= sub_logo %>
				</div>
			</div>
			<div id="parish_nav">
				<%#= render 'layouts/parish_nav' %>
			</div>
		</div>
		<div id='top_nav'>
			<%= render 'layouts/top_nav', :nav_menu => church_nav %>
		</div>
		
		<%= yield %>


	</div>
	<div id="footer">
		<div id="footer_wrapper">
			<%= render 'layouts/footer' %>
		</div>
	</div>
	<%= render 'layouts/analytics' %>
</body>
</html>
